{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/portfolio.css" %}?v={{ css_version }}{% endblock %}
{% load portfolio_filters %}
{% block content %}
<div class="bg bg1"></div>
<div id="content">
	<div class="portfolio">
		{% for item in object_list %}
		{% if item.contents_set.count > 0 %}
		<div class="clear_float list-title">
	        <h2 style="display:inline">{{ item.name }}</h2>
	    </div>
		<div class="album-list">
			{% for item_sub in item.contents_set.all %}
	        <div class="album-list-photo">
	            <a href="{{ item_sub.get_absolute_url }}">
           		{% if item_sub.image %}
	            <img class="thumbnail" src="{{ item_sub.image.thumb_url }}" />
	            {% else %}
	            <img class="thumbnail" src="{{ item_sub.link|youtube_thumb_url }}" onerror="this.src='{% static "images/default-picture.png" %}'" width="200" height="128" />
	            {% endif %}
	            </a>
	        </div>
	    	{% endfor %}
	    </div>
	    {% endif %}
	    {% endfor %}
    </div>
</div>
{% endblock %}